<h1>User#show</h1>
<p><%= @msg %></p>
<pre>
<table>
	<tr><th>Id</th>
		<td><%= @data.id %></td></tr>
	<tr><th>Name</th>
		<td><%= @data.name %></td></tr>
	<tr><th>Kana</th>
		<td><%= @data.kana %></td></tr>
	<tr><th>Memo</th>
		<td><%= @data.memo %></td></tr>
	<tr><th>Division</th>
		<td><%= @data.division.name %></td></tr>
	</tr>
</table>
</pre>
<a href="/user">TOP</a>