<h1>Report#index</h1>
<p>※日報の一覧</p>
<p><a href="/report/add">新規作成</a></p>
<p><a href="/user/add">User作成</a></p>
<p><a href="/division/add">部署名追加</a></p>
		<% require 'date' %>
		<% now = Date.today %>
<table>
	<%= form_tag(controller: "reports", action: "index") do %>
	<tr><th>検索</th></tr>
	<tr><th>登録日時(FROM)</th>
		<th><%= text_field_tag :date, "#{now - 3}" %></th>
	<th>登録日時(TO)</th>
		<th><%= text_field_tag :date2, "#{now}" %></th>
	<th>名前</th>
		<th><%= text_field_tag(:find) %></th>
		<th><%= submit_tag("検索") %></th></tr>
	</tr>
	<% end %>
</table>

<% @data.each do |obj| %>
	<h3 class="top_title"><a href="/report/show/<%= obj.id %>">
		<%= obj.user.name %></a></h3>
	<p class="top_created">
		(<%= obj.entry_date %>):<a href ="/report/edit/<%=obj.id %>">編集</a>:
		<a href ="/report/delete/<%= obj.id %>">削除</a></p>
	<hr>
<% end %>

<% f = Array.new %>
<% f = [(@page_num - 3), 
		(@page_num - 2), 
		(@page_num - 1), 
		(@page_num), 
		(@page_num + 1),
		(@page_num + 2), 
		(@page_num + 3)] %>

<div class="navigate">
	<% f.each do |ob| %>
		<% if ob > 0 then %>
		<a href ="/report/<%= ob %>"><%= ob %></a>
		<% end %>
	<% end %>
	<% if @page_num > 0 then %>
		<a href="/report/<%= @page_num - 1 %>">＜＜前のページ</a>
	<% end %>
	<span>　</span>
	<a href="/report/<%= @page_num + 1 %>">次のページ＞＞</a>
</div>

<a href = "/report">全件一覧へ</a>